<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand"></a>
  <div class="navbar-nav mr-auto">
    <span class="navbar-brand mb-0 h1">My Notes</span>
    <li class="nav-item">
      <a routerLink="notes" class="nav-link">Notes</a>
    </li>
    <li *ngIf="!user.id" class="nav-item d-flex">
      <a routerLink="register" class="nav-link">Register</a>
    </li>

    <li *ngIf="user.id" class="nav-item d-flex">
      <a (click)="logout()" class="nav-link">Logout</a>
    </li>
    
  </div>

  <!-- <div *ngIf="user.id" class="ml-auto">
      <div class="row">
        <div class="col-md-6">
          <a class="text-secondary">Hello  {{user.username}}</a>
        </div>
      </div>
  </div> -->

</nav>
<div class="container-fluid">
    <div class="container-fluid mt-3">
      <router-outlet></router-outlet>
    </div>
</div>