<div *ngIf="viewMode; else editable">
    <div *ngIf="currentNotes.id">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title"> {{ currentNotes.title }}</h5>
              <p class="card-text">{{ currentNotes.description }}</p>

              <button class="btn btn-success btn-sm mr-2" (click)="changemode()">
                Update
            </button>
    
            <button class="btn btn-danger btn-sm mr-2" (click)="deleteNote()">
                Delete
            </button>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
        <!-- <div *ngIf="message">
            <p>{{ message }}</p>
        </div> -->
    </div>

    <div *ngIf="!currentNotes.id">
        <br />
        <p>Select a note to view..</p>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentNotes.id" class="edit-form">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentNotes.title" name="title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" [(ngModel)]="currentNotes.description"
                    name="description">
                </textarea>
            </div>
        </form>

        <button type="submit" class="btn btn-success btn-sm" (click)="updateNote()">
            Update
        </button>

    </div>

    <div *ngIf="!currentNotes.id">
        <br />
        <p>Cannot access this Tutorial...</p>
    </div>
</ng-template>