<div class="card mb-3">

  <div class="card-body">
    <h5 class="card-title">Add a note</h5>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" required [(ngModel)]="notes.title" name="title" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Description</label>
              <input class="form-control" id="description" required [(ngModel)]="notes.description"
                name="description" />
            </div>
          </div>
        </div>
        <div class="text-right">
          <button (click)="saveNote()" class="btn btn-success">Add</button>
        </div>
      </div>

      <div *ngIf="submitted">
        <h4>Note saved successfully!</h4>
        <button class="btn btn-success" (click)="newNote()">Add More</button>
      </div>
    </div>
  </div>
</div>