

<div *ngIf="user.id">
    <div class="alert alert-primary" role="alert">
        Welcome <b>{{user.username}}</b>
      </div>
    <div class="row">
        <div class="col-md-6">
            <app-add-note (refreshList)="refreshList()">
    
            </app-add-note>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row list">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Your Notes</h4>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let note of notes; let i = index"
                            [class.active]="i == currentIndex" (click)="setActiveNote(note, i)">
                            {{ note.title }}
                        </li>
                    </ul>
                    
                </div>
                <div class="col-md-6">
                    <app-note-details [viewMode]="true" [currentNotes]="currentNotes" (refreshList)="refreshList()">
                    </app-note-details>
                </div>
            </div>
        </div>
    
    </div>
</div>
<div *ngIf="!user.id">
    <app-login>
        
    </app-login>
</div>